.main-brain{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 43%;
	height: 200%;
}

.box-profile {
	position: relative;
	display: none;
	margin-top: 25%;
	margin-left: -200px;
    background-color: white;
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 10px;
    z-index: 3;
}

.box-skill {
	position: relative;
	display: none;
	margin-top: 20%;
	margin-left: 630px;
    background-color: white;
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 10px;
    z-index: 3;
}

#bg {
  position: fixed; 
  top: 10%; 
  left: 15%;
  width: 70%; 
  height: 90%;
  z-index: 1;
}

#profile{
	position: fixed; 
  	top: 34%; 
  	left: 610px;
	height: 10px;
	width: 10px;
	z-index: 2;
}

img #profile {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#skills{
	position: fixed; 
  	top: 39%; 
  	left: 1069px;
	height: 10px;
	width: 10px;
	z-index: 2;
}

img #skills {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

img #bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
}

.language p{
	float: right;
}